---
import Layout from '../layouts/Layout.astro';
import Health from '../solid/components/health';
---

<Layout>
  <div class="flex flex-col items-center justify-center min-h-screen bg-black text-white">
    Hello
    <Health client:only="solid-js" />
  </div>
</Layout>
